<!--Header-->
<app-header></app-header>

<!--Section 1-->
<section class="flex flex-wrap h-screen items-center bg-[#0a0f1a]">
    <div class="w-1/2 p-4">
        <h2 class="text-[#9810FA] mb-2 text-lg">Your Music, Your Way</h2>
        <p class="text-white font-light">Stream millions of songs, create custom playlists,
            and discover new music tailored to your taste. Join 
            RitmHub community today!
        </p>
    </div>
    <div class="w-1/2 p-4">
        <img 
            src="assets/images/home-music.jpg" 
            alt="Music Image" 
            class="w-full h-auto max-h-96 object-cover rounded-xl"
        >
    </div>
</section>

<!--Section 2-->
<section class="bg-[#101828]">
    <h2 class="text-white text-center mb-2 text-lg">Why Choose RitmHub?</h2>
    <div>
        <div>
            <img src="" alt="">
            <h3></h3>
            <p></p>
        </div>
           <div>
            <img src="" alt="">
            <h3></h3>
            <p></p>
        </div>
               <div>
            <img src="" alt="">
            <h3></h3>
            <p></p>
        </div>
               <div>
            <img src="" alt="">
            <h3></h3>
            <p></p>
        </div>
    </div>
</section>